<div>
  <web-header></web-header>
  <div class="board_container" id="board_container">
    <toast-exit class="toast-exit"></toast-exit>
    <div class="header_container">
      <div class="header_option">
        <task-all></task-all>
        <task-filter></task-filter>
        <task-trash></task-trash>
        <task-form></task-form>
      </div>
      <create-task></create-task>
    </div>

    <div class="task-option">
      <div id="tasks_container"></div>
      <template id="welcome_default">
        <welcome-task></welcome-task>
      </template>
    </div>
    <modal-trash></modal-trash>
  </div>
</div>
