<div class="modal_trash" id="modal_trash">
  <div class="modal">
    <div class="icon">
      <img
        src="./../../assets/warning.svg"
        alt="trash"
        width="120"
        height="auto"
      />
    </div>
    <div class="modal-text">
      <h1>¿Estás seguro?</h1>
      <h3>Todas las tareas serán eliminadas de forma permanente</h3>
    </div>

    <div class="modal_actions">
      <button type="button" class="btn btn_cancel" id="btn_cancel">
        Cancelar
      </button>
      <button type="submit" class="btn btn_continue" id="btn_confirmar">
        Sí, borrar ahora
      </button>
    </div>
  </div>
</div>
