<div class="filter_container">
  <div class="filter_header">
    <img src="./../../assets/filter.png" alt="filter" />

    <span>Filtrar</span>
  </div>

  <div class="filter_option">
    <input type="checkbox" id="all" name="all" unchecked />
    <label for="task_all">Todas</label>

    <input type="checkbox" id="complete" name="complete" unchecked />
    <label for="task_complete">Completa</label>

    <input type="checkbox" id="pending" name="pending" checked />
    <label for="task_complete">Pendiente</label>
  </div>
</div>
